/*Body*/
body{
    font-family: Arial, sans-serif;
    overscroll-behavior: none;
    margin: 0;
}
html {
    scroll-behavior: smooth;
  }
article, .headertext, .contact, .black {
    opacity: 0;
    animation: fadeInZoom 0.3s forwards;
    animation-delay: 0.1s;
}
@view-transition {
  navigation: auto;
}
@keyframes fadeInZoom {
    0% {
        transform: scale(0.9);
        top: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1);
        top: 0;
    }
}
@keyframes fadeOutZoom {
    100% {
        transform: scale(0.9);
        top: 0;
    }
    0% {
        opacity: 1;
        transform: scale(1);
        top: 0;
    }
}
p {
    max-width: 85ch;
    margin-left: auto;
    margin-right: auto;
}
li {
    max-width: 85ch;
    margin-left: auto;
    margin-right: auto;
}
h1{
    max-width: 75ch;
    margin-left: auto;
    margin-right: auto;
}
h2{
    max-width: 75ch;
    margin-left: auto;
    margin-right: auto;
}
h3{
    max-width: 75ch;
    margin-left: auto;
    margin-right: auto;
}
section {
    margin-left: 1%;
    margin-right: 1%;
}
/* Style */ 
img {
    border-radius: 15px;
    transition: 0.2s;
}
a {
    
    transition: 0.2s;
}
/* Rounded corners */
section, div {
    border-radius: 15px;
}
.welcometext, .pagewelcome{
    border-style: solid;
    border-color: #007BFF;
}
/* Header */
.logo {
    float: left;
    height: 100%;
    width: 22%;
}
.headertext {
    float: left;
    width: 88%;
    margin: auto;
    font-size: 170%;
    text-align: center;
    color: #007BFF;
    font-family: 'Anton', sans-serif;
    font-style: normal;
    text-decoration: underline;
    letter-spacing: 2px;
    src: url(https://fonts.gstatic.com/s/anton/v25/1Ptgg87LROyAm3Kz-C8.woff2) format('woff2');
    text-shadow: 1px 0 10px rgb(0, 0, 0);
}
header {
    background-color: #000000;
    height: 100px;
    width: 100%;
    margin-top: 0px;
}
/* Removes hover effect from header logo*/
.logo img:hover{
    box-shadow: none;
}
/* Sets the appearance of title text to match a heading 1 */
.headertext p {
    font-size: 2em; /* Adjust font size */
    font-weight: bold; /* Make font bold */
    padding: 0; /* Remove default padding */
    line-height: 1.2; /* Adjust line height */
    margin-top: 0.5em; /* Adjust top margin to create space */
}
img { /* Fixes images being too large */
    width: 100%;
    height: 100%;
    object-fit: contain;
}
header{
    display: flex;
}

/* Navigation Bar */
nav {
    background-color: #000000;
    position: -webkit-sticky; /* Safari 12 and older*/
    position: sticky;
    top: 0;
    z-index: 1;
    padding-left: 8px;
    padding-right: 8px;
}
.nav a {
    color: #ffffff;
    background: #222222;
    border: #222222;
    border-style: solid;
    display:inline-block;
    padding: 16px 16px;
    text-decoration: none;
    margin: 0px 8px;
    align-items: center;
}
.nav a.active {
    background-color: #000000;
    color: #007BFF;
    font-weight: bold;
}
.nav a:hover {
    background-color: #000000;
    color: #007BFF;
    border: #007BFF;
    border-style: solid;
    text-decoration: underline;
    box-shadow: 0 4px 10px 0 #007BFF;
}
li.nav {
    display: inline;
}
/* Responsive nav hamburger */
.columnnav {
    float: left;
    width: 70%;
}
.columnclose {
    float: right;
    width: 30%;
}
.nav {
    overflow: hidden;
    top: 0;
    border-radius: 0;
}
.nav .icon {
    display: none;
}
@media screen and (max-width: 1480px) {
    .nav a:not(:first-child)  {display: none;}
    .nav a.icon {
      float: right;
      display: block;
      margin: 0;
      list-style-type: none;
      padding: 16px 16px;
      margin: 0px 8px;
    }
}
  @media screen and (max-width: 1480px) {
    .nav.responsive .icon {
        float: right;
        display: block;
    }
    .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .headertext {
        font-size: 150%;
        text-shadow: 1px 0 6px rgb(0, 0, 0);
    }
}
.nav a {
    float: left;
    display: block;
    text-decoration: none;
}
/* Welcome page, display 3 articles and a page welcome*/ 
.welcometext {
    max-width: 85ch;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.welcometext p {
    margin: 2%;
}
.welcometext h1 {
    margin: 2%;
    font-size: 200%;
}
.featuredarticle {
    float: left;
    width: 30%;
    min-width: 40ch;
    padding: 5px;
    margin: 5px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    border: solid #007BFF;
    box-sizing: border-box; 
}
.featuredarticle img {
    max-width: 45%;
    height: auto;
    margin-bottom: 5px;
}
.featuredarticle a {
    color: #007BFF;
    background: #222222;
    border: #222222;
    display:inline-block;
    padding: 16px 16px;
}
.featuredarticle a:hover{
    background-color: #000000;
    color: #007BFF;
    border: #007BFF;
    border-style: solid;
    text-decoration: underline;
    box-shadow: 0 4px 10px 0 #007BFF;
}
/* Responsive layout - makes the columns stack on top of each other, removes images */
@media screen and (max-width: 1480px) and (min-width: 700px) {
    .featuredarticle {
        margin:2%, auto;
        width: 45ch;
    }
    .featuredarticle img {
        max-width: 20%;
    }
}
/* Responsive layout - Makes featured articles fill screen, removes horizontal navigation bar. */
@media screen and (max-width: 900px) {
    .featuredarticle  {
        width: 98%;
        min-width: 0px;
    }
}
/* Article showcase pages */
.pagewelcome {
    max-width: 75ch;
    background-color: #ffffff;
    color: #000000;
    padding: 2%;
}
#pc_tips {
    background-image: url("pc_tips/old_pc.png");
    background-repeat: repeat;
    background-position: right top;
  }
#download_centre {
    background-image: url("download_centre/download_centre.png");
    background-repeat: repeat;
    background-position: right center;
}
.articles {
    background-color: #f5f5f5;
    width: 98%;
    margin: auto;
    overflow: hidden;
    padding: 1%;
    box-sizing: border-box;
}
.articlerow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.articles h2 {
    text-align: center;
    text-decoration: underline;
}
.articlecolumn {
    float: left;
    width: 22%;
    min-width: 45ch;
    margin: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    border: solid #007BFF;
    box-sizing: border-box; 
}
.articlecolumn img {
    max-width: 75%;
    height: auto;
    margin-bottom: 10px;
}
.articlecolumn a {
    color: #ffffff;;
    background: #222222;
    border: #222222;
    border-style: solid;
    display:inline-block;
    padding: 8px 16px;
}
.articlecolumn a:hover{
    background-color: #000000;
    color: #007BFF;
    border: #007BFF;
    border-style: solid;
    text-decoration: underline;
    box-shadow: 0 4px 10px 0 #007BFF;
}
/* Clearfix for .articles */
.articles::after {
    content: "";
    display: table;
    clear: both;
}
/* Fallback styles for Safari 9 or older */
.safari9 .articlerow {
    width: 100%;
    display: flexbox;
    height: max-content;
}
.safari9 .articlecolumn {
    width: 40%;
    float: left;
    box-sizing: border-box; 
    min-height: inherit;
}
/* Article */
article {
    width: 68%;
    margin-bottom: 80px;
    margin-left: 31%;
    margin-right: 1%;
}
article h1 {
    text-align: center;
    font-size: 300%;
    font-weight: bold;
}
article img {
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#imgdescription{
    text-align: center;
}
.imgdescription{
    text-align: center;
}
.linkbutton {
    margin-left: 15%;
    margin-right: 15%;
    display: block;
    background-color: #222222;
    border: #222222;
    border-style: solid;
    padding: 8px 16px;
    text-align: center;
    color: #ffffff;
}
.linkbutton:hover {
    background-color: #000000;
    color: #007BFF;
    border: #007BFF;
    border-style: solid;
    text-decoration: underline;
    box-shadow: 0 4px 10px 0 #007BFF;
}
aside {
    width: 29%;
    position: fixed;
    left: 0;
    background-color: #000000;
    color: #007BFF;
    overflow-y: auto;
    box-sizing: border-box;
}
aside a {
    color: #ffffff;
    background-color:#222222;
    border-color: #000000;
    border-style: solid;
    display:inline-block;
    width: 90%;
    padding: 6px;
    margin-left: 1%;
    margin-top: 4px;
    margin-bottom: 4px;
}
aside a:hover {
    color: #007BFF;
    border-color: #007BFF;
    background-color: #000000;
    text-decoration: underline;
    box-shadow: 0 4px 10px 0 #007BFF;
}
aside h2 {
    margin: 3%;
}
/* Responsive layout - makes the columns stack on top of each other */
@media screen and (max-width: 900px) {
    .articlecolumn {
        width: 100%;
        margin: 2%;
        min-width: 100%;
    }
    /* Makes aside hide on articles */
    aside {
        display: none;
    }
    article {
        margin: auto;
    }
    .articlecolumn img {
        max-width: 45%;
    }
}
/* Responsive- hide jump to section on short displays */
@media screen and (max-height: 260px) {
    aside {
        display: none;
    }
    article {
        margin: auto;
    }
}
/* Contact */
.contact {
    margin-top: 1%;
    width: 80%;
    max-width: 2000px;
    background-color: #222222;
    color: #ffffff;
    margin: auto;
    margin-bottom: 1%;
    padding-bottom: 5px;
    transition: 0.2s;
}
.contact p {
    margin:auto;
    padding: 5px;
    max-width: 75ch;
    text-align: center;
}
 .contact h1 {
    text-align: center;
    padding-top: 10px;
}
/* Contact Form */
.contact-form {
    margin: 1%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: #000000;
    color: #ffffff;
}
.contact-form label {
    font-weight: bold;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 97%;
    padding: 1%;
    margin-bottom: 10px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    font-family: sans-serif;
    background-color: #007BFF;
    color: #ffffff;
}
.contact-form textarea {
    resize: vertical;
}
.contact-form input[type="submit"] {
    min-width: fit-content;
    width: 50%;
    padding: 15px;
    background-color: #222222;
    border-color: #000000;
    color: #ffffff;
    text-decoration: underline;
    border-style: solid;
    cursor: pointer;
    font-size: 110%;
    display: block;
    margin: auto;
    margin-bottom: 5px;
    transition: 0.2s;
}
.contact-form input[type="submit"]:hover {
    color: #007BFF;
    border-color: #007BFF;
    background-color: #000000;
    text-decoration: underline;
    box-shadow: 0 4px 10px 0 #007BFF;
}
.contact-form input:invalid,
.contact-form textarea:invalid {
  border-color: red;
  background-color: #222222;
  color: #ffffff;
}
/* Footer */
footer {
    background-color:#000000;
    color: #007BFF;
    bottom: 0;
    left: 0;
    display: block;
    text-align: center;
    margin-top: 5px;
}
footer p {
    display:inline-block;
    font-weight: bold;
}
footer a {
    display:inline-block;
    margin: auto;
    width: 40%;
    padding: 16px 0;
    border-style: solid;
    border-color: #222222;
    background-color: #222222;
    color: #ffffff;
}
footer a:hover {
    background-color: #000000;
    border-color: #007BFF;
    color: #007BFF;
    border-style: solid;
    box-shadow: 0 4px 10px 0 #007BFF;
}
.footertext {
    width: 49%;
    display: inline-flex;
}
.footerbuttons {
    width: 49%;
    display: inline-flex;
}
/* Table */
table {
    width: 75%;
    border-collapse: collapse;
    text-align: left;
    margin: auto;
    border: 2px solid #000000;
}
th, td {
    padding: 12px;
    border-bottom: 2px solid #000000;
}
th {
    background-color: #000000;
    color: #ffffff;
}
/* Sitemap */
.sitemap {
    background-color: #222222;
    color: #ffffff;
    padding: 2%;
}
.sitemap a {
    max-width: 50%;
    display:inline-block;
    padding: 8px 16px;
    color: #ffffff;
    border-color: #222222;
    background-color: #222222;
    border-style: solid;
}
.sitemap a:hover {
    background-color: #000000;
    border-color: #007BFF;
    color: #007BFF;
    border-style: solid;
    box-shadow: 0 4px 10px 0 #007BFF;
}
@media screen and (min-width: 900px){
    .asidefooter {
        padding-left: 29%;
    }
    .contact{
        width: 60%;
    }
}
/* Responsive design Mobile */
@media screen and (max-width: 600px) {
    /* Makes Logo disappear on mobile devices */
    .logo {
        display: none;
    }
    /* Ensures there is minimal overflow on extremely small devices */
    body {
        word-wrap: break-word;
    }
    /* Makes header text fill screen, stops overflow into nav bar on very small screens.*/
    .headertext {
        width: 100%;
        font-size: 83%;
        text-shadow: 0 0 2px rgb(0, 0, 0);
        overflow: hidden;
    }
    /* Makes welcome text fill screen*/
    .welcometext{
        width: auto;
        margin-bottom: 1%;
    }
    /* Makes about section fill screen*/
    .about{
        width: 100%;
        margin-bottom: 1%;
    }
    /* Makes about section fill screen*/
    .contact{
        width: 100%;
    }
    .about{
        display: none;
    }
    /* Makes Footer smaller*/
    footer  {
        font-size: 90%;
        padding: 1%;
    }
    /* Improves article appearance */
    article {
        width: auto;
        margin-left: 2%;
        margin-right: 2%;
    }
    article h1 {
        font-size: 200%;
    }
    article h2, h3 {
        text-align: center;
    }
    li h3 {
        text-align: left;
    }
    table {
        width: 100%;
    }
}
/* Responsive design desktop */
@media screen and (min-width: 600px) {
    img:hover {
        /* Apply box-shadow on hover */
        box-shadow: 0 4px 10px 0 #007BFF;
    }
}
/* Dark Mode */
@media (prefers-color-scheme: dark) {
    /*Background colour and Text colour */
    body {
        background-color: #000000;
        color: #ffffff;
    }
    /* Article section background colour*/
    .articles {
        background-color: #222222;
    }
    .pagewelcome {
        background-color: #000000;
        color: #ffffff;
    }
    /* Contact form colour */
    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        background-color: #000000;
        color: #ffffff;
    }
    th, td {
        border-bottom: 2px solid #ffffff;
    }
    table {
        border: 2px solid #ffffff;
    }
    th {
        background-color: #ffffff;
        color: #000000;
    }
}
.black {
    background-color: #000000;
}
pre {
    background-color: #f1f1f1;
    color: #000000;
    display: block;
    width: fit-content;
    margin: auto;
}
.linkwhite {
    color: #ffffff;
    font-weight: bold;
}