/*Body*/
body{font-family:Arial, sans-serif; 
	margin:0 auto;
	max-width:2050px;}
html{scroll-behavior:smooth; background:#002f79; color:#fff;}
/*Style*/
p, li{max-width:85ch;}
h1, h2, h3{max-width:75ch;}
p, li, h1, h2, h3, article img{margin-left:auto; margin-right:auto;}
article{background:#fff; color:#000;}
img{border-radius:25px;
	width:100%;
	height:100%;
	max-height:75vh;
	object-fit:contain;
	transition: all 0.2s ease;}
.modal{position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
	z-index:2;
	animation: fadeIn 0.2s;
	cursor: pointer;}
.modal .enlarged-image{max-width:90%; max-height:90%;}
@keyframes fadeIn {0% {opacity: 0; transform: scale(0.7);} 100% { opacity: 1; transform: scale(1);}}
/*Blur*/
nav, footer{backdrop-filter: blur(5px); background: rgba(255, 255, 255, 0.3); border-top: 1px solid rgba(255, 255, 255, 0.5); border-bottom: 1px solid rgba(255, 255, 255, 0.5); box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), inset 0 4px 20px rgba(255, 255, 255, 0.3)}
header,.modal{backdrop-filter: blur(5px); background: rgba(0, 0, 0, 0.7); box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), inset 0 4px 20px rgba(255, 255, 255, 0.3);}
/*Welcome*/
.welcometext{background:linear-gradient(#002f79,#000); color:#fff; padding:10px 0 5px 0; border-bottom:solid 3px #006ee4;}
/*Blue*/
.articles, .sitemap{background:linear-gradient(#000,#002f79,#0043ae,#002f79);}
/*Img shadow*/
img:not(.enlarged-image):hover{box-shadow:0 8px 30px 4px #007BFF; cursor:pointer;}
img:not(.enlarged-image){box-shadow:0 4px 10px 0 #7F7F7F;}
/*Rounded corners*/
div, .sitemap a, .linkbutton, button, .articlecolumn a, .contact-form input[type="submit"], footer a {border-radius:30px; text-decoration:none;}
/*Squared*/
.articles, .nav, .modal, .welcometext{border-radius:0;}
/*Header*/
.sticky{position:sticky; top:0; z-index:1;}
header{font-size:160%;
	text-align:center;
	color:#007BFF;
    font-family:'Anton', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-style:normal;
	letter-spacing:2px;
	src: local('Anton'),url(https://fonts.gstatic.com/s/anton/v25/1Ptgg87LROyAm3Kz-C8.woff2) format('woff2');
	text-shadow:0px 20px 40px #000;
	height:80px;
	display:flex;}
/*Match h1*/
header p{font-size:2em; 
	font-weight:bold; 
	padding:0; 
	line-height:1.2; 
	margin-top:0.3em;}
/*Nav Bar*/
nav{position:sticky;
	top:0;
	z-index:1;
	overflow:auto;
	width:80%;
	margin:auto;
	font-size:0;
	padding:0 10%;}
.nav a{padding:10px 0;
	text-decoration:none;
	text-align:center;
	display:inline-block;
	width:20%;}
.nav a, .nav button{color:#fff; background: rgba(0, 0, 0, 0.3); font-size:16px; filter: drop-shadow(10px 10px 10px #000) brightness(115%);}
.nav a:hover, .nav button:hover, aside a:hover{color:#fff;
	background: rgba(0, 110, 228, 0.8);
	text-decoration:underline;
	font-size:16px;
	box-shadow:none;}
.nav a.active{background:#006ee4; color:#fff; font-weight:bold;}
.nav button, .nav button:hover{width:100%;
	padding:14.5px 0;
	border-radius:0;
	border:0;}
.nav .icon{display: none;}
button:hover{cursor:pointer;}
/*Welcome page*/ 
.welcometext {width: 100%; text-align: center;}
.welcometext p, .welcometext h1 {max-width: 85ch; margin: 0.5% auto;}
.welcometext h1 {font-size: 200%;}
.welcometext p {font-size: 110%;}
.featuredarticle {max-width: 85ch;
	float: left;
	width: 30%;
	min-width: 40ch;
	padding: 5px;
	margin: 5px;}
/*Blue buttons*/
 .sitemap a, .linkbutton, .contact-form input[type="submit"], .articlecolumn a, footer a{color: #fff; border: 1px solid rgba(255, 255, 255, 0.5);
	background: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(6px);
	filter: drop-shadow(10px 10px 10px #000) brightness(115%);
	transition: all 0.2s ease;}
/*Button hover*/
.articlecolumn a:hover, button:hover, .linkbutton:hover, .contact-form input[type="submit"]:hover, .sitemap a:hover, .articlecolumn a:hover, footer a:hover{color: #fff;
	background: rgba(0, 110, 228, 0.7);
	border: 1px solid rgba(0, 110, 228, 0.5);
	text-decoration: underline;}
/*Card appearance*/
.featuredarticle, .articlecolumn, .contact-form, Aside{box-sizing: border-box; 
	background: rgba(150, 150, 150, 0.3); 
	border: 1px solid rgba(255, 255, 255, 0.5);
	box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), inset 0 4px 20px rgba(255, 255, 255, 0.3)}
.articles hr {background: rgba(255, 255, 255, 0.8); border: none; height: 1px;}
.articles {overflow: hidden;
	padding: 1%;
	box-sizing: border-box;
	text-align: center;}
.articlerow {display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;}
.articles h2 {text-decoration: underline;}
.articlecolumn {float: left;
	max-width: 85ch;
	width: 22%;
	min-width: 45ch;
	margin: 1%;
	padding-bottom: 8px;
	background-size: cover;
	background-position: center;}
.articlecolumn a {width: 75%; padding: 10px 0; display:inline-block;}
.featuredarticle h3, .articlecolumn h3 {font-size: 120%; margin: 3%;}
.articlecolumn p {padding: 0 5px;}
/*Article*/
article {width: 64%; float: left; margin-left: 2%; padding: 5px 20px 5px 20px;}
article h1 {text-align: center; font-size: 300%; font-weight: bold;}
article img {width: 50%; display: block;}
.imgdescription{text-align: center;}
.linkbutton {margin: 0 15%;
	display: block;
	padding: 10px;
	text-align: center;}
aside {width: 29%;
	position:sticky;
	float: left;
	overflow-y: auto;
	box-sizing: border-box;}
aside li {border-left: 3px solid #007BFF; margin: 3px 0; list-style-type: none;}
aside a {width: 99%;
	padding: 10px 0;
	margin: 0 0 0 1%;
	display:inline-block;
	color: #fff;
	filter: drop-shadow(10px 10px 10px #000) brightness(115%);}
aside h2 {margin: 2%; text-decoration: underline;}
.Subheading {margin: 3px 3%;}
/*Contact Form*/
.contact-form {margin: auto;
	padding: 20px;
	padding-bottom: 10px;
	font-weight: bold;
	width: 75%;}
.contact-form input[type="text"],.contact-form input[type="email"],.contact-form textarea {width: 97%;
	padding: 1%;
	margin-bottom: 10px;
	border: 2px solid #007BFF;
	border-radius: 25px;
	font-family: sans-serif;
	color: #fff;
	backdrop-filter: blur(5px); 
	background: rgba(255, 255, 255, 0.3);
	box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), inset 0 4px 20px rgba(255, 255, 255, 0.3);}
.contact-form textarea {resize: vertical;}
.contact-form input[type="submit"] {min-width: fit-content;
	width: 50%;
	padding: 15px;
	font-size: 110%;
	display: block;
	margin:auto auto 5px auto;
	cursor: pointer;}
.contact-form input:invalid,.contact-form textarea:invalid {border-color: #ff0000;}
/*Footer*/
footer {
	color: #fff;
	text-align: center;
	margin-top: 5px;
	font-size: 110%;
	display: inline-block;
	width: 100%;
	overflow:clip;}
footer p {display:inline-block; font-weight: bold;}
footer a {margin: auto;
	width: 49%;
	padding: 14.5px 0;}
.footertext, .footerbuttons {width: 49%; display: inline-flex;}
/*Table*/
table {width: fit-content;
	max-width: 100%;
	border-collapse: collapse;
	text-align: left;
	margin: auto;
	border: 2px solid #fff;
	overflow: scroll;
	display: block;}
th, td {padding: 12px; border-bottom: 2px solid #000;}
th {background: #000; color: #fff;}
/*Sitemap*/
.sitemap {padding: 2%; text-align: center;}
.sitemap a {padding: 10px; display: block;}
.sitemap ul {list-style: none; padding: 0; font-size: 90%;}
/*Responsive design*/
@media screen and (max-width: 900px) {
	.nav a:not(:first-child) {display: none;}
	.nav a {padding: 16px 0; width: 100%;}
	.nav.responsive a, .nav.responsive button {display: block; text-align: left; text-indent: 4%;}
	.nav button.icon {display: block; text-align: center;}
	header.responsive {position: fixed;
		width: 100%;
		height: 20vh;
		font-size: 120%;
		top: 0;
		left: 0;
		z-index: 2;
		background:linear-gradient(#000, #0043ae);}
	nav.responsive {position: fixed;
		top: 20vh; 
		width: 100%;
		height: calc(100vh - 20vh);
		overflow-y: auto;
		left: 0;
		z-index: 3;}
	.columnnav {float: left; width: 70%;}
	.columnclose {float: right; width: 28%;}
	.featuredarticle, .articlecolumn {width: 85%;}
	.contact-form {max-width: none; width: 85%;}
	.welcometext p {margin: 1% auto; padding: 5px;}
	/*Makes aside hide on articles*/
	aside {display: none;}
	/*Improves article appearance*/
	article {width: auto;
		margin: 0 auto;
		padding: 0 2%;
		max-width: 75ch;
		float: none;}
	.linkbutton, .contact-form input[type="submit"], .articlecolumn a {font-weight: bold; font-size: 110%; padding: 10px;}
	.contact-form input[type="text"],.contact-form input[type="email"],.contact-form textarea {width: 95%; padding: 2%; font-size: 110%;}}
@media screen and (max-width: 1200px) {.nav a {padding: 16px 0;}
	nav {width: 100%; padding: 0;}}
/*Aside hidden on small screens*/
@media screen and (max-height: 350px) {aside, header {display: none;}
	article {width: auto; margin: 0 auto; padding: 0 2%; max-width: 75ch; float: none;}
	nav.responsive {top: 0; height: 100vh;}}
/*Responsive design Mobile*/
@media screen and (max-width: 600px) {body {word-wrap: break-word;}
	/*Header text fill screen*/
	header{width: 100%;
		text-shadow: none;
		height: auto;
		text-align: center;
		padding-top: 4%;}
	header p{margin: 1% auto;}
	.about{display: none;}
	/*Improve article appearance*/
	article h1 {font-size: 200%;}
	article li h3 {text-align: left;}
	article img {width: 100%;}
	.sitemap a, .linkbutton, .contact-form input[type="submit"], .articlecolumn a {padding: 3%;}
	/*Index page cards fill screen*/
	.featuredarticle  {width: 98%; min-width: 0;}
	.welcometext, .contact-form  {border-radius: 25px 25px 0 0;
		width: auto;
		margin: 0;
		padding: 0;}
	.contact-form input[type="submit"]{width: 85%;}}
@media screen and (max-width: 450px) {p {font-size: 105%;}
	header{font-size: 120%; overflow: hidden;}
	.featuredarticle, .articlecolumn {margin: 2%; min-width: 98%;}}
.linkblackwhite {color: #000; font-weight: bold;}
.linkwhite {color: #fff; font-weight: bold;}
/*Dark Mode*/
@media (prefers-color-scheme: dark){ .sitemap a, .linkbutton, .contact-form input[type="submit"], .articlecolumn a, footer a{filter: drop-shadow(10px 10px 10px #666)}
	.linkblack,.linkblackwhite {color: #fff;}
	nav, footer,.contact-form input[type="text"],.contact-form input[type="email"],.contact-form textarea{background: rgba(0, 0, 0, 0.3);}
	.featuredarticle, .articlecolumn, .contact-form, Aside{color:#fff; background: rgba(0, 0, 0, 0.7);}
	th, td {border-bottom: #fff;}
	th {background: #fff; color: #000;}
	article{background: #000; color: #fff;}
	.articlerow, .articlecolumn {color: #fff;}}
pre {background: #f1f1f1;
	color: #000;
	display: block;
	width: 100%;
	margin: auto;
	overflow: scroll;}
hr {background: #006ee4; border: none;}